#page-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    height: 15vh;

    flex-direction: column;
    border-bottom: 1px solid rgb(41, 41, 41);
    
}

#page-header .content{
    text-align: center;
}

#page-header::after{
    width: 100%;
    height: 15vh;   
    content: "";
    position: absolute;
    background-color: black;
    left: 0;
    top:0;
    z-index: -1;
    opacity: .2;
    
}


#page-header .content a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 200;
}

#page-header .content a:hover{
    color:rgb(177, 177, 177);
}

#page-header #description{
    text-align: center;
}